{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "indent": 2,
    "max-len": [1, 125, 2],
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": true
      }
    ]
  }
}
